{% extends "base.html" %}
{% block content %}
<div class="container">


   <form action="{{ url_for('admin_bp.upload_mongo_form') }}" method="post">
     <p class="h4 mb-4 text-left">Mongo setting</p>

		
		<div class="form-row">
			<div class="form-group col-md-3">
			<label for="inputmongo_host">host</label>
				<input type="text" class="form-control" value ="{{ data.host }}" id="mongo_host" name="mongo_host">
		</div>
	
    <div class="form-group col-md-3">
      <label for="inputmongo_port">port</label>
      <input type="text" class="form-control" id="mongo_port" name ="mongo_port" value ="{{ data.port }}">
    </div>
    <div class="form-group col-md-3">
      <label for="inputmongo_user">user</label>
      <input type="text" class="form-control" id="mongo_user" name ="mongo_user" value ="{{ data.user }}">
    </div>
		
	    <div class="form-group col-md-3">
      <label for="inputmongo_user_pswd">user_pswd</label>
      <input type="password" class="form-control" value ="{{ data.user_pswd }}"  id="mongo_user_pswd" name ="mongo_user_pswd">
    </div>	
	

  </div>
  
   <div class="form-row">
    <div class="form-group col-md-4">
      <label for="inputmongo_trade">database name</label>
      <input type="text" class="form-control" id="mongo_db_name" name ="mongo_db_name" value ="{{ data.db_name }}" >
    </div>
	
    <div class="form-group col-md-4">
      <label for="inputmongo_assets">assets</label>
      <input type="text" class="form-control" id="mongo_assets" name ="mongo_assets" value ="{{ data.assets }}">
    </div>
    <div class="form-group col-md-4">
      <label for="inputmongo_operations">operations</label>
      <input type="text" class="form-control" id="mongo_operations" name ="mongo_operations" value ="{{ data.operations }}">
    </div>

	

  </div>	
		
        <p>
            <button id="submit_mongo_params" type="submit"  class="btn btn-primary">submit</button>
        </p>
    </form>


{% include 'messages.html' %}
    

</div><!-- /.container -->

{% endblock %}
